<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>프롬 더 픽처</title>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .container {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            margin: 0px auto;
            max-width: 400px;
            padding: 0vh 16px;
            padding-top: 10px;
            margin-bottom: 200px;
        }

        .btn_div {
            border-radius: 10px;
            position: relative;
            width: 70vw;
            height: 20vh;
            background-color: black;
            display: table;
            margin-top: 20px;
        }

        .btn_camera:hover {
            color: black;
            transition: color 0.3s;
            font-size: 4.2em;
            text-shadow: 2px 2px 2px gray;
        }

        .btn_camera {
            background-color: #00b531;
            color: white;
            width: 70vw;
            height: 20vh;
            border-radius: 6px;
            font-size: 4em;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            font-weight: bold;
        }

        #cameraFileInput {
            display: none;
        }

        #pictureFromCamera {
            width: 300px;
            margin-top: 16px;
        }

        #s3upload, #s3upload2 {
            font-size: 2.0em;
            width: 200px;
            height: 10vh;
        }
    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
            // listing()
            setTimeout(function () {
                speakText(3);
            }, 1000);
        })
    </script>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        //Bucket Configurations
        var bucketName = 'seungwonbucket1';
        var bucketRegion = 'ap-northeast-2';
        var IdentityPoolId = 'ap-northeast-2:9ab049a5-9ef5-4d03-ad3e-dc543c72f333';

        AWS.config.update({
            region: bucketRegion,
            credentials: new AWS.CognitoIdentityCredentials({
                IdentityPoolId: IdentityPoolId
            })
        });

        var s3 = new AWS.S3({
            apiVersion: '2006-03-01',
            params: {Bucket: bucketName}
        });
    </script>
    <script type="text/javascript">
        function s3upload() {
            var files = document.getElementById('cameraFileInput').files;
            if (files) {
                var file = files[0];
                var fileName = file.name;
                var filePath = fileName;
                var fileUrl = 'https://' + bucketRegion + '.amazonaws.com/' + filePath;
                s3.upload({
                    Key: filePath,
                    Body: file,
                    ACL: 'public-read'
                }, function (err, data) {
                    if (err) {
                        reject('error');
                    }
                    // alert('분석 완료!');
                    let bucketName = 'seungwonbucket1'
                    let form_data = new FormData()
                    form_data.append("content_give", filePath)
                    form_data.append("file_give", bucketName)

                    $.ajax({
                        type: "POST",
                        url: "/reko",
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            let res = response['msg'];

                            $('#textEntry').val(res);
                        }
                    });
                })
            }
        };

        function s3upload2() {
            var files = document.getElementById('cameraFileInput').files;
            if (files) {
                var file = files[0];
                var fileName = file.name;
                var filePath = fileName;
                var fileUrl = 'https://' + bucketRegion + '.amazonaws.com/' + filePath;
                s3.upload({
                    Key: filePath,
                    Body: file,
                    ACL: 'public-read'
                }, function (err, data) {
                    if (err) {
                        reject('error');
                    }
                    // alert('분석 완료!');
                    let bucketName = 'seungwonbucket1'
                    let form_data = new FormData()
                    form_data.append("content_give", filePath)
                    form_data.append("file_give", bucketName)

                    $.ajax({
                        type: "POST",
                        url: "/reko_text",
                        data: form_data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            let res_text = response['msg'];
                            $('#textEntry').val(res_text);
                        }
                    });
                })
            }
        };

    </script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.410.0.min.js"></script>
    <script type="text/javascript">

        // Initialize the Amazon Cognito credentials provider
        AWS.config.region = 'ap-northeast-2';
        AWS.config.credentials = new AWS.CognitoIdentityCredentials(
            {IdentityPoolId: 'ap-northeast-2:f14709fa-69d5-4a7c-b80a-188591d81cba'});

        // Function invoked by button click
        function speakText(sleep) {

            function speakL() {
                // Create the JSON parameters for getSynthesizeSpeechUrl

                var speechParams = {
                    OutputFormat: "mp3",
                    SampleRate: "16000",
                    Text: "",
                    TextType: "text",
                    VoiceId: "Seoyeon"
                };
                speechParams.Text = document.getElementById("textEntry").value;

                // Create the Polly service object and presigner object
                var polly = new AWS.Polly({apiVersion: '2016-06-10'});
                var signer = new AWS.Polly.Presigner(speechParams, polly)

                // Create presigned URL of synthesized speech file
                signer.getSynthesizeSpeechUrl(speechParams, function (error, url) {
                    if (error) {
                        document.getElementById('result').innerHTML = error;
                    } else {
                        if (sleep == 3) {
                            document.getElementById('infoSource').src = url;
                            document.getElementById('info').load();
                        } else {
                            document.getElementById('audioSource').src = url;
                            document.getElementById('audioPlayback').load();
                        }
                        // document.getElementById('result').innerHTML = "Speech ready to play.";
                    }
                });
            }

            if (sleep == 1) {
                setTimeout(speakL, 8000);
            } else {
                speakL();
            }

            document.getElementById("textEntry").value = null;

        }
    </script>
</head>

<body>
<div class="container">
    <!-- 시작안내 말 -->
    <audio id="info" autoplay>
        <source id="infoSource" type="audio/mp3" src="">
    </audio>
    <div class="container camera">
        <!-- 사진촬영 -->
        <label for="cameraFileInput">
            <div class="btn_div">
                <span class="btn_camera">촬영</span>
            </div>
            <input type="file" id="cameraFileInput" accept="image/" capture="environment">
        </label>

        <!-- 분석 메시지 출력-->
        <div id="textToSynth">
            <textarea cols="35" id="textEntry">촬영버튼을 클릭하여 사진을 찍으시고 인물, 글자 버튼 중 하나를 클릭하고 잠시만 기다려주세요.</textarea>
        </div>
        <audio id="audioPlayback" autoplay>
            <source id="audioSource" type="audio/mp3" src="">
        </audio>

        <!-- 찍은 사진 출력-->
        <img id="pictureFromCamera"/>
        <script>
            var camera = document.getElementById('cameraFileInput');
            var frame = document.getElementById('pictureFromCamera');

            camera.addEventListener('change', function (e) {
                var file = e.target.files[0];
                frame.src = URL.createObjectURL(file);
            });
        </script>
        <p></p>

        <!-- 업로드 버튼 -->
        <button onclick="s3upload();speakText(1)" id="s3upload">인물</button>
        <p></p>
        <button onclick="s3upload2();speakText(1)" id="s3upload2">글자</button>
    </div>
</div>
</body>
</html>
